@inherits CollectionConsumer<Instance>

<CardList Collection="Collection" EmptyCollectionMessage="No instances yet">
    <RenderCardView>
        <div class="card">
            <div class="card-header">
                @context.Name
            </div>
            <div class="card-body">
                <OurForm>
                    <OurInput IsReadonly="true" Label="State" Value="@context.State.ToString()"/>
                </OurForm>
                <a href="/projects/@Project.Name/instances/@context.Name" class="card-link">Details</a>
            </div>
        </div>
    </RenderCardView>
</CardList>

@code {

    [Parameter]
    public Project Project { get; set; } = null!;

}