@using Microsoft.AspNetCore.Components
@using Server.API.Client.Contracts
@using System.Globalization
<Dialog Size="@DialogSize.Normal" Centered="true" IsShowing="_isShown" Animation="@DialogAnimation.SlideDown">
    <DialogHeader>
        <h4>Create new project</h4>
    </DialogHeader>
    <DialogBody>
        <OurForm>
            <OurInput Label="Name" @bind-Value="_name"/>
        </OurForm>
    </DialogBody>
    <DialogFooter>
        <button type="button" class="btn btn-primary" @onclick="@Approve">Create</button>
        <button type="button" class="btn btn-secondary" @onclick="@Cancel">Cancel</button>
    </DialogFooter>
</Dialog>

@code
{
    private string _name { get; set; }
    private bool _isShown;
    
    [Parameter]
    public Action<string> OnCreate { get; set; }

    public void Show()
    {
        _isShown = true;
    }

    private void Approve()
    {
        _isShown = false;
        OnCreate.Invoke(_name);
        _name = null;
    }
    
    private void Cancel()
    {
        _isShown = false;
    }
}