@page "/projects/"
@using Server.API.Client
@using Server.BlazorUI.Pages.Projects.Dialogs
@inject ProjectClient ProjectClient
<h3>Projects</h3>
<div class="container">
    @foreach (var project in ProjectClient.ListAsync().Result)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@project.Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">@project.Id</h6>
                <a href="/projects/@project.Name" class="card-link">Details</a>
            </div>
        </div>
    }
</div>
<div class="container">
    <button class="btn btn-primary" @onclick="@(_ => _createDialog.Show())">New</button>
</div>
<CreateDialog @ref="_createDialog"/>

@code
{
    CreateDialog _createDialog = null!;
}