@* @page "/page2" *@
@* *@
@* @using Server.API.Client *@
@* @inject TokenClient TokenClient *@
@* <h3>Last token is: @_lastToken</h3> *@
@* *@
@* <button class="btn btn-primary" @onclick="NewToken" >Click me</button> *@
@* *@
@* @code { *@
@*     private string _lastToken = ""; *@
@* *@
@*     private void NewToken() *@
@*     { *@
@*         _lastToken = TokenClient.GenerateAsync("asd").Result; *@
@*     } *@
@* } *@