<tr>
    <td>
        <label class="col-form-label">@Label</label>
    </td>
    <td>
        <input type="text"
               readonly="@_isReadonly"
               class="@_classString"
               @bind-value="Value">
    </td>
</tr>

@code {
    private string _value;
    private string _classString = "";
    private bool _isReadonly = false;

    [Parameter]
    public string Label { get; set; } = "Default Label Name";

    [Parameter]
    public bool IsReadonly
    {
        get => _isReadonly;
        set
        {
            _isReadonly = value;
            _classString = _isReadonly ? "form-control-plaintext" : "form-control";
        }
    }

    [Parameter]
    public string Value
    {
        get => _value;
        set
        {
            if (_value == value) return;
            _value = value;
            ValueChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

}